html
	head
		title UberEatsLite
body
	include ../partials/header

	div(id="main" style="text-align:center;background-color:#66ff66")
		h1 &#x1F31F; Welcome to my UberEatsLite v3.0 &#x1F31F;
		h3= motto
	hr
	include ../partials/footer