div#header
	button(type="button" id="1" onclick="document.location='/'" style="background-color:aqua") Home
	button(type="button" id="2" onclick="document.location='/restaurants'" style="background-color:#ff5470") All Restaurants
	button(type="button" id="3" onclick="document.location='/addrestaurant'" style="background-color:aqua") Add a new Restuarant